#nav {
  background-color: yellow;
  padding: 10px;
}
ul {
  list-style: none;
}
li {
  display: inline;
  margin-left: 10px;
  padding: 10px;
}
li:hover {
  background-color: rgb(228, 225, 225);
}

#pad {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: gray;
  left: 224px;
  top: 60px;
  display: no

#pad :hover {
  display: none;
}

#li2:hover #pad {
  display: block;
}
