body{
  background-image: url(./img/field.png);
  background-size:cover; 
  background-repeat: no-repeat;
  height: 100vh;
}

img{
    width: 150px;
    position: relative;
}
button{
    position: absolute;
    bottom: 0;
    right: 10px;
}
