body {
  background-image: url("../img/bg.jpg");
  background-size: cover;

}

img {
  width: 10%;
  position: absolute;
  bottom: 15%;
  right: 50%
}

body{

height: 100vh;

}

.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.runningMan{
  visibility: hidden;
}